* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232830;
  color: #f5f5f5;
  font-size: 1.75rem;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-nav ul {
  list-style: none;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-nav li a {
  text-decoration: none;
  color: whitesmoke;
}

.main-nav li a:hover,
.main-nav li a:focus {
  text-decoration: underline;
}

.main-nav li:first-child {
  margin-right: auto;
}

.main-nav li:not(:first-child):not(:last-child) {
  margin-right: 2rem;
}

.writings-dev {
  font-weight: 600;
}

/* Header styles */

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  row-gap: 1rem;
}

header h1,
header p:nth-of-type(2) {
  grid-column: 1 / -1;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin: 2rem 0;
  max-width: 75%;
  margin-inline: auto;
}

.card {
  background: whitesmoke;
  color: #333;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 20px;
}

.card .meta {
  font-size: 0.85rem;
  font-weight: 100;
  color: #666;
  text-align: left;
  margin-top: auto;
}

article.card h3 {
  font-size: 1.25rem;
}

article.card p {
  font-size: 0.9rem;
}

section.head {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 2rem;
}

section.head img {
  width: 200px;
}

section.head h1 {
  font-style: italic;
  color: #f06565;
  font-family: monospace;
  padding: 0.5rem 0;
}

header p {
  padding-left: 1rem;
}

/* Footer styles */

.twitter-logo {
  height: 0.75rem;
  width: 0.75rem;
}

/* Section Navigation */
.section-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.75rem 0;
  max-width: 75%;
  margin-inline: auto;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.view-icons {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
}

.view-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  transition: opacity 0.3s;
}

.view-icon:hover {
  opacity: 0.7;
}

.icon {
  width: 18px;
  height: 18px;
  fill: #cfd6dd;
}

.section-nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  color: #9aa3ad;
  flex: 1;
}

.section-nav li {
  font-style: italic;
  display: flex;
}

.section-nav li a {
  text-decoration: none;
  color: #9aa3ad;
}

.section-nav li a:hover,
.section-nav li a:focus {
  text-decoration: underline;
  color: rgba(245, 245, 245, 0.681);
}

/* Category Sections */
.category-section {
  margin-bottom: 1rem;
  scroll-margin-top: 50px;
  display: none;
}

.category-section:target {
  display: block;
}

#javascript {
  display: block;
}

/* Pagination */
.pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  color: #8c939c;
}

.pagination ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
  color: inherit;
}

.pagination li a:hover,
.pagination li a:focus {
  color: #f06565;
  border-top: solid #f06565;
}

.site-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e9eef3;
  padding: 0.5rem 1rem;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tag {
  font-size: 0.75rem;
  background: #4aa3ff;
  color: #fff;
  padding: 0.15rem 0.4rem;
  border-radius: 3px;
}

.follow-btn {
  font-size: 0.75rem;
  background: #4aa3ff;
  color: #fff;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: 600;
}
